
#sidebar {
    nav {
        ul {
            li {
                button,
                a {
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: #f0f7ff !important;
                        color: #2563eb !important;

                        svg {
                            color: #2563eb !important;
                        }
                    }
                }
            }

            /* Submenu */
            ul {
                background-color: #f8fafc !important;
                border-left: 3px solid transparent;
                transition: all 0.3s ease;

                li {
                    a {
                        &:hover {
                            background-color: #eff6ff !important;
                            color: #1d4ed8 !important;
                            padding-left: 2.25rem !important; // shift right
                        }
                    }
                }
            }
        }

        /* Custom scrollbar */
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #e2e8f0;
            border-radius: 10px;

            &:hover {
                background: #cbd5e1;
            }
        }
    }
}

